/* Inicio Footer */

$animation-duration: 1s;
$animation-timing-function: ease-in-out;

h3 {
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(122, 113, 29, 0.336);
    color: #fff;
    font-size: 15px;
  }

.boxfooter {
    height: auto;
    background-color: $color-footer;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.482);

    a {
        text-decoration: none;
        color: #000;

        &:hover {
            color: $color-secundario;
        }
        
    }
    
    i {
        font-size: x-large;

        &:hover{
            color: #FFF;
        }
    }

    h3 {
        color: #FFF;
    }

 }

.footer-prim {
    background-color: $color-secundario;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
    padding: 10px;
}

#a-link:hover {
    color: #FFF;
}

.redes {
    align-self: center;
}

.rotate-animation {
  transform: rotate(0deg);
  transition: transform $animation-duration $animation-timing-function;

  &:hover {
    transform: rotate(360deg);
  }
}
.fa-envelope {
  @extend .rotate-animation;
}

.fa-phone {
  @extend .rotate-animation;
}

.fa-whatsapp {
  @extend .rotate-animation;
}

.fa-location-dot{
    @extend .rotate-animation;
}

/* Fin Footer */