/* Inicio Formulario Contacto */

.form-contacto {
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.904);
    text-align: center;
    margin: 0 auto;
    max-width: 400px;

    button {
        background-color: $color-secundario;
        border: 1px solid $color-secundario !important;

        &:hover {
            background-color: $color-footer;
            color: #000;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
        }
    }
}

/* Fin Formulario Contacto */