/* Inicio Formulario Contacto */

.form-contacto {
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.904);
    text-align: center;
    margin: 0 auto;
    max-width: 400px;
}

.form-contacto button {
    background-color: $color-footer;
    border: 1px solid $color-secundario !important;
}

.form-contacto button:hover {
    background-color: var(--color-secundario);
    color: #FFF;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
}

.maps {
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.904);
}

/* Fin Formulario Contacto */