
/* Inicio Nosotros */
.nosotros {
    padding: 70px 0;
    display: flex;
    align-items: center;
    background-color: $color-footer;
    
    .cont12a {
        max-width: 1400px
    }
    .logo {
        max-width: 550px;
        width: 100%
    }
}


.nosotros-apple {
    font-size: 60px;
}

/* Acordeon */

.accordion {
    width: 100%;
}
