
/* Whatsapp */
.whatsapp {
    height: 40px;
    width: 40px;
    background-color: $color-secundario;
    color: #fff;
    position: fixed;
    right: 20px;
    bottom: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    box-shadow: 2px 2px 5px #fff;
    border-radius: 50%;
    animation: rebote 3 * 3s ease-in-out infinite alternate;
}

.whatsapp:hover {
    color: $color-principal;
}


@keyframes rebote {
    to {
      transform: translateY(-100vh);
    }
  
    30% {
      transform: translateY(0);
    }
  }

/* Fin Whatsapp */
