/* Fuente */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

/* Declaracion de Variables */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}


$color-principal: #a7efd0;
$color-secundario: rgb(122, 113, 29);
$color-footer: rgba(122, 113, 29, 0.336);


@import "_footer";
@import "_formulario";
@import "_galeria";
@import "_header";
@import "_newsletter";
@import "_nosotros";
@import "_novedades";
@import "_productos";
@import "_whatsapp";
@import "_medias";
